.loader {
  cursor: pointer;
  margin: 0 0.5em;

  &:after {
    content: '\21bb';

    display: inline-flex;
    align-content: center;
    justify-content: center;

    width: 1em;
    height: 1em;

    line-height: 0.75;
    will-change: transform;
  }

  &:hover {
    color: var(--theme-link--primary);
  }

  &.active {
    cursor: not-allowed;
    pointer-events: none;
    color: var(--theme-link--secondary);

    &:after {
      animation: rotate 1.5s linear infinite;
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
