:root {
  --theme-background--primary: #ffffff;
  --theme-background--secondary: #ededed;
  --theme-text--primary: #777777;
  --theme-text--secondary: #444444;
  --theme-link--primary: #0011bb;
  --theme-link--secondary: #6600cc;

  --spacer: 1.5rem;
  --logo-size: 2.5rem;
  --header-height: calc(var(--logo-size) + (var(--spacer) * 2));
}

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  background-color: var(--theme-background--primary);
  color: var(--theme-text--primary);

  margin: 0;
  height: 100vh;
}

#root {
  height: 100%;
}

header {
  height: var(--header-height);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow-y: auto;
  height: calc(100vh - var(--header-height));

  padding: var(--spacer);

  section {
    max-width: 600px;
    margin: 0 auto;
  }
}

@import 'src/shared/styles/text_headers_links.scss';
@import 'src/shared/styles/loader_spinner.scss';
